<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components_style.css') }}">

<div class="content-center">
    <div class="panel input-panel">
        <div class="panel-header">
            Add Service
        </div>

        <form class="input-form" action="{{ url_for('service_handling.add_service_form') }}" method="POST">
            <div class="form-group">
                <label for="cluster_release_name">Release Name</label>
                <input id="cluster_release_name" name="cluster_release_name" type="text" placeholder="release name...">
            </div>

            <div class="form-group">
                <label for="cluster_namespace">Namespace</label>
                <input id="cluster_namespace" name="cluster_namespace" type="text" placeholder="namespace...">
            </div>

            <div class="form-group">
                <label for="helm_chart_url">Helm Chart URL</label>
                <input id="helm_chart_url" name="helm_chart_url" type="text" placeholder="url...">
            </div>

            <div class="form-group">
                <label for="helm_chart_name">Helm Chart Name</label>
                <input id="helm_chart_name" name="helm_chart_name" type="text" placeholder="name...">
            </div>

            <div class="form-group">
                <label for="helm_chart_version">Helm Chart Version</label>
                <input id="helm_chart_version" name="helm_chart_version" type="text" placeholder="version...">
            </div>
            
            <div class="form-group">
                <label for="helm_chart_values">Values</label>
                <textarea id="helm_chart_values" name="helm_chart_values" rows="20" placeholder="values..."></textarea>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Submit</button>
                <button type="reset" class="btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
</div>