<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components_style.css') }}">

<div class="content-center">
    <div class="panel input-panel">
        <div class="panel-header">
            All Services
        </div>
        <div class="top-left status-bar">
            {% for item in all_namespaces %}
                <div class="dropdown status-dropdown">
                    <a href="{{ item.url }}"
                    class="status-item status-{{ item.state }}"
                    title="View logs for {{ item.name }}">

                        <span class="status-label">{{ item.name }}</span>
                        <span class="status-module">{{ item.namespace }}</span>
                    </a>

                    <div class="dropdown-content">
                        <div class="status-message status-{{ item.state }}">
                            {{ item.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>